h1 {
    color: antiquewhite;
    background-color: cadetblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
p {
    color: chocolate;
    background-color: azure;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-stretch: narrower;
    text-align: end;
    text-transform: uppercase;
}
/** Se utilzia el numeral para seleccionar un id **/
#p1 {
    color: chocolate;
    background-color: azure;
    font-family: 'Dancing Script', cursive;
    font-weight: 300;
    font-stretch: narrower;
    text-align: end;
    text-transform: uppercase;
}
/** Se utiliza el punto para seleccionar la clase **/
.p_sec{
    background-color: brown;
    font-size: xx-small;
}
body {
    background-color: antiquewhite;
}

