body{
    font-family: 'Roboto', sans-serif;
    background-color: blanchedalmond;
}
h2{
    text-align: center;
}
p{
    text-align: justify;
}
h3{
    text-decoration: solid;
    text-decoration-color: blue;
}

.comida{
    background-color: antiquewhite;
}
.plaza{
    background-color: beige;
}
.electro{
    background-color: #EFD593;
}
.link{
    text-decoration-color: blue;
}

#arbol{
    align-items: flex-start;
}
#amma{
    align-items: flex-start;
}
#bazar{
    align-items: flex-end;
}
#kiosco{
    align-items: flex-start;
}
#zenea{
    align-items: flex-end;
}

.slider_diktatur{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider_diktatur ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio_diktatur  20s infinite alternate;
}
.slider_diktatur li{
    list-style: none;
}
.slider_diktatur img{
    width: 100%;
}
@keyframes cambio_diktatur {
    0% {margin-left: 0;}
    45% {margin-left: 0;}

    50% {margin-left: -100;}
    100% {margin-left: -100;}
}

.slider_zeppelin{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider_zeppelin ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio_zeppelin  20s infinite alternate;
}
.slider_zeppelin li{
    list-style: none;
}
.slider_zeppelin img{
    width: 100%;
}
@keyframes cambio_zeppelin {
    0% {margin-left: 0;}
    35% {margin-left: 0;}

    40% {margin-left: -100;}
    65% {margin-left: -100;}

    70% {margin-left: -200;}
    100% {margin-left: -200;}
}

.slider_zenea{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider_zenea ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio_zenea  20s infinite alternate;
}
.slider_zenea li{
    list-style: none;
}
.slider_zenea img{
    width: 100%;
}
@keyframes cambio_zenea {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100;}
    40% {margin-left: -100;}

    45% {margin-left: -200;}
    60% {margin-left: -200;}

    65% {margin-left: -200;}
    80% {margin-left: -200;}

    85% {margin-left: -200;}
    100% {margin-left: -200;}
}

.slider_electro{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider_electro ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio_electro  20s infinite alternate;
}
.slider_electro li{
    list-style: none;
}
.slider_electro img{
    width: 100%;
}
@keyframes cambio_electro {
    0% {margin-left: 0;}
    35% {margin-left: 0;}

    40% {margin-left: -100;}
    65% {margin-left: -100;}

    70% {margin-left: -200;}
    100% {margin-left: -200;}
}

.slider_tren{
    width: 95%;
    margin: auto;
    overflow: hidden;
}
.slider_tren ul{
    display: flex;
    padding: 0;
    width: 400%;

    animation: cambio_tren  20s infinite alternate;
}
.slider_tren li{
    list-style: none;
}
.slider_tren img{
    width: 100%;
}
@keyframes cambio_tren {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    25% {margin-left: -100;}
    45% {margin-left: -100;}

    50% {margin-left: -200;}
    70% {margin-left: -200;}

    75% {margin-left: -300;}
    100%{margin-left: -300;}
}

